body {
    max-width: 1200px;
    margin: auto;
}

.card {
    display: inline-block;
    text-align: left;
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

img {
    /* width: 195px; */
    height: 300px;
}

.price {
    font-weight: bold;
    color: darkorange;
}

span {
    text-decoration: line-through;
    color: rgb(90, 90, 90);
}

.author {
    color: rgb(140, 140, 140);
    margin: 0;
}

.name {
    margin-bottom: 2px;
    padding-bottom: 0;
}

.star {
    color: yellow;
    margin-top: 8px;
}

.rate {
    color: rgb(140, 140, 140);
    text-decoration: none;
}

button {
    background-color: darkorange;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    color: aliceblue;
    font-weight: bold;
}

body {
    padding: 60px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}